<div class="container">
<h1>Bookings à venir</h1>
<% @bookings.each do |booking| %>
  <div class ="card-product">
  <%= cl_image_tag(booking.toilet.photo.key, width: 400, height: 300, crop: :fill) %>
    <div class="card-product-infos">
      <p><%= booking.toilet.title %></p>
      <p>Location : <%= booking.toilet.address %></p>
      <%= booking.id %>
      <%= booking.status %>
      <%= link_to "accept", accept_booking_path(booking),method: :patch %>
      <%= link_to "reject", reject_booking_path(booking),method: :patch %>
    </div>
    <div class="card-product-dates">
      <p>From <%= booking.start_date.strftime(" %d/%m/%Y %H:%M ") %></p>
      <p>To <%= booking.end_date.strftime(" %d/%m/%Y %H:%M ") %></p>
    </div>
  </div>
<% end %>
</div>
