<div class="container">
<p></p>
<h5>Bookings à venir</h5>
<% @bookings.each do |booking| %>
  <div class ="card-product">
  <%= cl_image_tag(booking.toilet.photo.key, width: 400, height: 300, crop: :fill) %>
      <div class="title-address">
        <p><strong><%= booking.toilet.title %></strong></p>
        <div class="address-style">
          <p><i class="fas fa-map-marked-alt"></i> <%= booking.toilet.address %></p>
        </div>
      </div>
      <div class="dates">
        <p>Du <%= booking.start_date.strftime(" %d/%m/%Y %H:%M ") %></p>
        <p>Au <%= booking.end_date.strftime(" %d/%m/%Y %H:%M ") %></p>
      </div>
      <div class="buttons">
        <%= link_to "Supprimer", booking_path(booking), method: :delete, class: "btn-delete" %>
        <%= link_to "Contact owner", class: "btn-contact" %>
      </div>
  </div>
<% end %>
</div>
