<h1>Bookings to come</h1>
<% @bookings.each do |booking| %>
<p><%= booking.toilet.photo %></p>
<p><%= booking.toilet.title %></p>
<p><%= booking.toilet.description %></p>
<p><%= booking.start_date %></p>
<p><%= booking.end_date %></p>
<p></p>
<% end %>

<!-- booking.toilet.photo should be in a cloudinary cl_tag -->
