
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h3>Quelques informations supplémentaires...</h3>
      <%= simple_form_for @toilet do |f| %>
        <%= f.input :capacity,
                    label: "Combien de personnes peuvent-elles accueillir ?",
                    as: :radio_buttons,
                    wrapper: :vertical_collection_inline,
                    collection: (1..4).to_a %>
        <%= f.label "Selectionnez les options", class: "label-grey" %>
        <div class="options-picker">
          <%= f.input :is_noiseproof, label: "Mes toilettes sont insonorisées" %>
          <%= f.input :is_pro , label: "Il s'agit de toilettes chez un professionel" %>
        </div>
        <div class="text-right">
          <%= f.submit "Suivant", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<small>Tell me your favorite toilet, I'll tell you who you are. - <em>Winston Churchill</em></small>
