

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h3>Dernière étape avant de vous enrichir grâce à vos chiottes</h3>
      <%= simple_form_for @toilet do |f| %>
        <%= f.input :title,
                    label: "Quel titre voulez vous donner à vos toilettes ?",
                    placeholder: "Trone de fer ..."%>
        <%= f.input :description,
                    label: "Décrivez ses principales caractéristiques",
                    placeholder: "Très joli cabinet dans immeuble de haut standing ..."%>
        <%= f.input :address,
                    label: "A quelle addresse se trouve ces toilettes ?",
                    placeholder: "80 rue Curial, 75019 Paris ..."%>
        <div class="text-right">
          <%= f.submit "Ajouter mes toilettes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<small>Tell me your favorite toilet, I'll tell you who you are. - <em>Winston Churchill</em></small>
