
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h3>Tell us more about your toilet</h3>
      <%= simple_form_for @toilet do |f| %>
        <div class="d-block">
          <%= f.input :toilet_type%>
          <%= f.input :capacity, label: "Combien de personnes peut il accueillir ?",collection: (1..10).to_a %>
          <%= f.input :gender, label: "Votre toilet est il plus adapté à un sexe particulier ?", collection: Toilet::GENDERS %>
          <%= f.input :is_noiseproof %>
          <%= f.input :is_pro %>
        </div>

        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address, label: "A quelle addresse se trouve " %>
        <%= f.submit "Add my toilet", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<small>Tell me your favorite toilet, I'll tell you who you are. - <em>Winston Churchill</em></small>
