<div class="search-bar d-flex justify-content-between px-3 py-2">
  <p><%= @toilets.length %> résultats trouvés près de <%= params[:query].capitalize %></p>
  <%= form_tag toilets_path, method: :get do %>
    <div class='search-form'>
      <div><%= text_field_tag :query, params[:query], class: "form-control",placeholder: "Entrer une adresse..." %></div>
      <div><%= submit_tag "Découvrir", class: "btn btn btn-flat" %></div>
    </div>
  <% end %>
</div>

<div class="container">

  <div class="cards-map">

    <div class="grid-cards">
      <% @toilets.each do |toilet| %>
        <%= link_to toilet_path(toilet) do %>
          <div class="card-trip" data-aos="fade-up" data-aos-duration="5000">
            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/French_Squatter_Toilet.jpg" /> -->
            <%= cl_image_tag toilet.photo.key %>
            <div class="card-trip-infos">
              <div class="small">
                <h2><%= toilet.title %></h2>
                <p><%= toilet.description %></p>
              </div>
              <h2><span class="blue-caca gender-index"><%= Toilet::GENDERS_ICONS[toilet.gender] %></span></h2>
              <!-- <img src="https://avatars0.githubusercontent.com/u/54526334?v=4" class="card-trip-user avatar-bordered" /> -->
              <%= cl_image_tag toilet.user.photo.key, class: 'card-trip-user avatar-bordered' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>
</div>
